# Division of Data into folders

In order to clean data and not to waste any time on the virtual machine, we decided to split the data in order to download it locally and clean it manually through a python code that you can find in "PreProcessing-LOCAL".

In [1]:
import pandas as pd
import numpy as np
import os

In [5]:
base = "/home/labuser/data/"
seg = ["test/","train/", "val/"]

In order to do so, we firstly created a dataframe that list all the content inside the directory.

In [15]:
## create a dictionary with all of the pictures in each path

Felix = base + "Felix"
Angelo = base + "Angelo"
them_all = [s for s in seg]

content_list = {}
for index, val in enumerate(them_all):
    path = os.path.join(base, val)
    content_list[ them_all[index] ] = os.listdir(path)

In [16]:
## create a dataframe

df = pd.DataFrame.from_dict(content_list, orient = 'index').T
df_tot = pd.DataFrame(columns = ["path", "images"])
for index in df.columns:
    images = df.loc[:,index].dropna()
    p = [str(base + index)]
    path = p * len(images)
    trash = pd.DataFrame([np.array(path).T, images]).T
    trash.columns = ["path", "images"]
    df_tot = pd.concat([df_tot, trash])
df_tot.reset_index(inplace = True, drop = True)
del df
del trash

In [17]:
df_tot

,path,images
0,/home/labuser/data/test/,miami_1474740363076235547_20170320_jpg.rf.1403...
1,/home/labuser/data/test/,chicago_1412129200713944467_20161224_jpg.rf.3f...
2,/home/labuser/data/test/,la_2017_1538453394740685070_20170616_jpg.rf.00...
3,/home/labuser/data/test/,la_1775439579873339338_20180509_jpg.rf.47d32f5...
4,/home/labuser/data/test/,charlotte_1567835128969198694_20170727_jpg.rf....
...,...,...
100108,/home/labuser/data/val/,phoenix_1651657581485454673_20171119_jpg.rf.a3...
100109,/home/labuser/data/val/,chicago_1246121943149743388_20160509_jpg.rf.52...
100110,/home/labuser/data/val/,chicago_1781339885962183707_20180517_jpg.rf.e1...
100111,/home/labuser/data/val/,phoenix_1604816812850482275_20170916_jpg.rf.3b...
100112,/home/labuser/data/val/,houston_1795963601293231456_20180606_jpg.rf.cd...

The dataset is then splitted into 2. This division is done only for mandatory logos. The choice logos division was performed directly through the terminal.

In [21]:
df_Angelo = df_tot[:100113//2]
df_Felix = df_tot[100113//2:]

In [29]:
df_Felix.reset_index(inplace = True, drop = True)

In [30]:
df_Felix

,path,images
0,/home/labuser/data/train/,miami_1568821953480162222_20170728_jpg.rf.d40e...
1,/home/labuser/data/train/,chicago_1154043427006632407_20160103_jpg.rf.66...
2,/home/labuser/data/train/,la_1254404847185329128_20160520_jpg.rf.8577830...
3,/home/labuser/data/train/,miami_1428436396154520957_20170115_jpg.rf.a3fd...
4,/home/labuser/data/train/,london_1846437451012514134_20180815_jpg.rf.f3b...
...,...,...
50052,/home/labuser/data/val/,phoenix_1651657581485454673_20171119_jpg.rf.a3...
50053,/home/labuser/data/val/,chicago_1246121943149743388_20160509_jpg.rf.52...
50054,/home/labuser/data/val/,chicago_1781339885962183707_20180517_jpg.rf.e1...
50055,/home/labuser/data/val/,phoenix_1604816812850482275_20170916_jpg.rf.3b...
50056,/home/labuser/data/val/,houston_1795963601293231456_20180606_jpg.rf.cd...

In [27]:
df_Angelo.shape, df_Felix.shape

((50056, 2), (50057, 2))

In [1]:
#os.mkdir(Angelo)
#os.mkdir(Felix)

In [23]:
print(Angelo)

/home/labuser/data/Angelo

In [24]:
import shutil

for i in range(df_Angelo.shape[0]):
    path = df_Angelo["path"][i] + df_Angelo["images"][i]
    shutil.copy(path, Angelo)

In [25]:
! zip -R /home/labuser/data/Angelo

zip error: Invalid command arguments (nothing to select from)

In [31]:
for i in range(df_Felix.shape[0]):
    path = df_Felix["path"][i] + df_Felix["images"][i]
    shutil.copy(path, Felix)

In [32]:
! zip -R Felix.zip /home/labuser/data/Felix

zip error: Nothing to do! (Felix.zip)